
@import "variables";

/*-----------------------------------------------------------------------------------*/
/* Placeholders
/*-----------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------*/
/* TYPOGRAPHY SETTINGS
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/* Set the letter spacing
/*-----------------------------------------------------------------------------------*/
%letter-spacing {
    letter-spacing: -0.08em;
}


/*-----------------------------------------------------------------------------------*/
/* Set the main typeface - uses $main-typeface var in _variables.scss
/*-----------------------------------------------------------------------------------*/
%typeface-main {
    font-family: $main-typeface;
}


/*-----------------------------------------------------------------------------------*/
/* Set the heading typeface - uses $heading-typeface var in _variables.scss
/*-----------------------------------------------------------------------------------*/
%typeface-heading {
    font-family: $heading-typeface;
}


/*-----------------------------------------------------------------------------------*/
/* Set a default color for the text - uses $black var in _variables.scss
/*-----------------------------------------------------------------------------------*/
%typeface-color-main {
    color: $black;
}


/*-----------------------------------------------------------------------------------*/
/* Set a accent/hover color for the text - uses $accebt var in _variables.scss
/*-----------------------------------------------------------------------------------*/
%typeface-color-accent {
    color: $accent;
}


/*-----------------------------------------------------------------------------------*/
/* Set a grey color for the text - uses $text-grey var in _variables.scss
/*-----------------------------------------------------------------------------------*/
%text-color-grey {
    color: $text-grey;
}

/*-----------------------------------------------------------------------------------*/
/* make the text uppercase
/*-----------------------------------------------------------------------------------*/
%uppercase {
    text-transform: uppercase;
}


/*-----------------------------------------------------------------------------------*/
/* ANIMATION/TRANSITION SETTINGS
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/* Set a default transition speed for all animations/hover etc
/*-----------------------------------------------------------------------------------*/
%transition {
    @include transition(0.12s);
}


/*-----------------------------------------------------------------------------------*/
/* LAYOUT SETTINGS
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/* Center the tag
/*-----------------------------------------------------------------------------------*/
%center {
    text-align: center;
}

/*-----------------------------------------------------------------------------------*/
/* Set margin: 0 auto - used for centering
/*-----------------------------------------------------------------------------------*/
%auto {
    margin: 0 auto;
}

/*-----------------------------------------------------------------------------------*/
/* Set the width to a percantage and then center it
/*-----------------------------------------------------------------------------------*/
%post-width {
    width: 55%;
    margin: 0 auto;
}

/*-----------------------------------------------------------------------------------*/
/* Push the an element from left and right using padding
/*-----------------------------------------------------------------------------------*/
%squeeze {
    padding-left: 80px;
    padding-right: 80px;
}