
/*-----------------------------------------------------------------------------------*/
/*	Typography
/*-----------------------------------------------------------------------------------*/

$font: 14px/22px "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Sans-serif;

$main-typeface: "Open Sans";
$heading-typeface: "Montserrat";

/*-----------------------------------------------------------------------------------*/
/*	Colours
/*-----------------------------------------------------------------------------------*/
$black: #333;
$white: #FFF;
$light-grey: #F2F2F2;
$dark-grey: #1E1E1E;
$text-grey: #898989;
$accent: #ed3636;


